html, body {
    margin: 0;
    padding: 0;
    font-family: source sans pro;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    padding: 5px 0 6px 0;
    background-blend-mode: color;
    background: #dac6c6;
    font-size: 17px;
    margin: 0 3px 0 3px;
    background: radial-gradient(85% 85% at 50% 14%, rgba(41, 48, 61, 0.0001) 0%, #071629 100%);
    color: #ffffff;
  }
  
  .logo img {
    height: 100px;
    width: auto;
    border-radius: 50%;
  }
  
  .navigation a {
    max-width: 2px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    align-items: start;
    color: #ffffff;
    margin-right: 30px;
    margin-top: 40px;
  }
  

  .navigation a:hover {
    color: yellow;
  }

#first-banner {
    text-align: center;
    padding: 5px 60px 40px 40px;
    font-size: 17px;
    margin: 0 3px 0 3px;
    color: #ffffff;
    background-image: linear-gradient(rgba(15, 55, 33, 0.5), rgba(17, 23, 70, 0.5)), url('images/comp.avif');
    background-size: cover;
    background-position: center;
}

.banner h1 {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 1700;
    text-align: center;
  }
  
  .word-display {
    font-size: 24px;
    margin-bottom: 40px;
    word-spacing: 30px;
    font-weight: 400;
  }
  
  input[type="button"] {
    padding: 10px 20px;
    margin-top: 20px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    background: #C271FF;
    border-radius: 22px;
    font-family: source sans pro;
  }
  
  .experts {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  
  .experts h3, .experts p {
    margin: 0;
  }
  
  .experts img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
  }

#second_quote{
    text-align: center;
    padding: 30px 60px 40px 40px;
    background: #C271FF;
    color: #ffffff;
    font-size: 17px;
    margin: 0px 3px 3px 3px;
  }
  
  .quote img {
    position: absolute;
    width: 150px;
    height: 180px;
    left: 190px;
    top: 760px;
    border-radius: 100%;
    margin-bottom: 20px;
    float: left;
  }
  
  /* Tutorials Section Styles */
  section#tutorials {
    text-align: center;
    padding: 40px;
  }
  
  #tutorials h1 {
    margin-bottom: 40px;
  }
  
  .fvidoe, .svidoe, .tvidoe, .fovidoe {
    display: inline-block;
    text-align: left;
    width: 250px;
    height: 380px;
    padding: 20px;
    margin-right: 20px;
    background-color: #eefcfc;
    border-radius: 20px;
  }
  
  .fvidoe img, .svidoe img, .tvidoe img, .fovidoe img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .fvidoe h2, .svidoe h2, .tvidoe h2, .fovidoe h2 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .fvidoe p, .svidoe p, .tvidoe p, .fovidoe p {
    margin: 0;
    margin-bottom: 20px;
  }
  
  .fvidoe .fst-lsn-fac, .svidoe .scnd-lsn-fac, .tvidoe .trd-lsn-fac, .fovidoe .frth-lsn-fac {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .fst-lsn-fac img, .scnd-lsn-fac img, .trd-lsn-fac img, .frth-lsn-fac img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .fst-lsn-fac h3, .scnd-lsn-fac h3, .trd-lsn-fac h3, .frth-lsn-fac h3 {
    margin: 0;
    font-size: 16px;
  }
  
  .fst-lsn-rtng, .scnd-lsn-rtng, .trd-lsn-rtng, .frth-lsn-rtng {
    display: flex;
    align-items: center;
  }
  
  .fst-lsn-rtng img, .scnd-lsn-rtng img, .trd-lsn-rtng img, .frth-lsn-rtng img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
  
  .fst-lsn-rtng p, .scnd-lsn-rtng p, .trd-lsn-rtng p, .frth-lsn-rtng p {
    margin: 0;
    font-size: 12px;
    color: #888;
  }
  

#more-info {
    text-align: center;
    padding: 40px;
    position: relative;
    background: #071629;
    color: #ffffff;
  }
  
#more-info h1 {
    margin-bottom: 40px;
  }
  
  .fmembership, .smembership, .tmembership, .fomembership {
    display: inline-block;
    text-align: center;
    width: 200px;
    padding: 20px;
    margin-right: 40px;
    background-color: #071629;
    margin-top: 20px;
    padding-top: 20px;
  }
  
  .fmembership img, .smembership img, .tmembership img, .fomembership img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .fmembership h3, .smembership h3, .tmembership h3, .fomembership h3 {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .fmembership p, .smembership p, .tmembership p, .fomembership p {
    margin: 0;
  }
  
  /* FAQ Section Styles */
  section#faq {
    text-align: center;
    padding: 40px;
  }
  
  #faq h1 {
    margin-bottom: 40px;
  }
  
  .ffaq, .sfaq {
    display: inline-block;
    text-align: left;
    width: 400px;
    padding: 20px;
    margin-right: 20px;
    background-color: #f9f9f9;
  }
  
  .ffrb h3, .sfrb h3, .sfrb h3, .ssrb h3 {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .ffrb p, .sfrb p, .sfrb p, .ssrb p {
    margin: 0;
    margin-bottom: 20px;
  }
  
  /* Footer Styles */
  footer {
    background-color: #071629;
    color: #fff;
    padding-bottom: 10px;
    padding-top: 70px;
    text-align: center;
  }
  
  .footer img{
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: right;
  }


  .socials a {
    margin-right: 10px;
  }

.footer p {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-weight: 100;
}
